In [1]:
import numpy as np 
import pandas as pd 
import datetime
import os
import time
import matplotlib.pyplot as plt
import seaborn as sns
import gc
import dask
import dask.dataframe as dd
%matplotlib inline

In [2]:
gc.collect()

11

In [3]:
dtypes = {'ip':'uint32',
          'app': 'uint16',
          'device': 'uint16',
          'os': 'uint16',
          'channel': 'uint16',
          'is_attributed': 'uint8'}

train = dd.read_csv("mnt/ssd/kaggle-talkingdata2/competition_files/train.csv", dtype=dtypes, parse_dates=['click_time', 'attributed_time'])
train.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,83230,3,1,13,379,2017-11-06 14:32:21,NaT,0
1,17357,3,1,19,379,2017-11-06 14:33:34,NaT,0
2,35810,3,1,13,379,2017-11-06 14:34:12,NaT,0
3,45745,14,1,13,478,2017-11-06 14:34:52,NaT,0
4,161007,3,1,13,379,2017-11-06 14:35:08,NaT,0

In [4]:
train.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 8 entries, ip to is_attributed
dtypes: datetime64[ns](2), uint16(4), uint32(1), uint8(1)

In [5]:
# len(train)

In [6]:
train['id'] = train.index
train.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,id
0,83230,3,1,13,379,2017-11-06 14:32:21,NaT,0,0
1,17357,3,1,19,379,2017-11-06 14:33:34,NaT,0,1
2,35810,3,1,13,379,2017-11-06 14:34:12,NaT,0,2
3,45745,14,1,13,478,2017-11-06 14:34:52,NaT,0,3
4,161007,3,1,13,379,2017-11-06 14:35:08,NaT,0,4

In [14]:
dd.to_csv(df=train,index=False)
# エラー解消できず...cloud storageに直接保存すればいけるのか？

TypeError: to_csv() missing 1 required positional argument: 'filename'